<form action="/performance/create" method="post">
    <div class="update-form">
        <input type="hidden" defaultValue="<%= userReadUpdate._id %>" name="reviewFor" >
        <input type="hidden" name="reviewBy" defaultValue=<%= locals.user._id %>>
        
        <div>
            <label>Your views</label>
            <textarea name="description" cols="30" rows="3"></textarea>
        </div>
        <div >
            <label for="ranking">Rank 1 to 10</label>
            <input type="number" name="ranking" min="1" max="10">
        </div>
    </div>
    <button type="submit">create</button>
</form>