<main>
    <div class="dashboard">
        <div>
            <script src="/scripts/index.js"></script>
            <%- include('./partials/_user') %>
            <%- include('./partials/_performance-list') %>

        </div>
        <%- include('./partials/_reviewee-list') %>
    </div>
</main>
