
// style the all forms at one place
form{
    display: grid;
    gap:10px;
    padding:5%;
    justify-content:center;
    justify-items:center;
    margin:auto;
    grid-template-columns: 1fr;
    &>div{
        max-width: 400px;
    }
    .update-form{
        max-width:100%;
    }
    input,select{
        border-radius: 5px;
    }
    input, textarea{
        padding:5px 10px;
        font-size: 1em;
        color:#424141;
        width:100%;
        border:none;
        background-color: rgba(245, 222, 179, 0.568);
        border-radius: 5px;
        height: auto;
    }
    input[type=number]{
        width:7em;
    }
    select{
        padding:5px 10px;
        background-color: #18193f;
        border:none;
        color:white;
        font-size: inherit;
        box-shadow: 0 0 2px 2px rgba(194, 194, 194, 0.534);
    }
    button{
        place-self: center;
    }

}


// updated forms that are responsive
.update-form{
    display: grid;
    gap:20px;
    justify-content: center;
    margin:auto;
    width:100%;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    &>div{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        // grid-template-columns: max-content repeat(auto-fit,100px);
        gap:20px;
        align-content: center;
        align-items: center;
        box-shadow: 0 0 2px 2px rgba(245, 245, 245, 0.507);
    }
}
.performance-form{
    width:100%;
    position: relative;
    &:after{
        content: "";
        border: 1px solid salmon;
        width: 100%;
        height: 1px;
        position: relative;
        top:20px;
    }
    &>div:first-child{
        width:100%;
    }
    textarea{
        width:100%;
    }
    .feedback-form {
        padding:0;
    }
}
span[role=textbox]{
    width:100%;
    height: 100%;
    min-width:10em;
    min-height: 3em;
    word-break: break-all;
    padding:10px;
    &:focus{
        outline:1px solid rgb(114, 123, 250);
    }
}